.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    width: 20%;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    border: 0.4px solid ;
    background-color: rgba(240, 240, 240, 0.952);
}